<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']">
                    <i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">
                Pending Tasks
            </li>
        </ol>
    </section>

    <section class="content">
        <app-alert></app-alert>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <b>{{title}}</b>
                <button *ngIf="taskListStatus && !taskViewStatus"
                    class="btn btn-warning btn-sm pull-right custom_btn_size" (click)="showAddForm()">
                    <i class="fa fa-plus"></i> Add</button>
                <button *ngIf="!taskListStatus || taskViewStatus"
                    class="btn btn-danger btn-sm pull-right custom_btn_size" (click)="backToList()">
                    <i class="fa fa-arrow-left"></i> Back</button>
            </div>
            <div *ngIf="!taskListStatus && !taskViewStatus">
                <div class="row">
                    <div class="col-md-12">

                        <div class="box box-danger">
                            <div class="box-header">
                                <h3 class="box-title">Details</h3>
                            </div>
                            <div class="box-body">
                                <form method="post" [formGroup]="taskForm" novalidate autocomplete="off">
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label>Project Name :</label>
                                            <select class="form-control" formControlName="project_id"
                                                name="project_id">

                                                <option value=""> -- Select Project Name -- </option>
                                                <ng-container *ngFor="let project of  projectsList;let i = index">
                                                    <option [value]="project.project_id">
                                                        <span> {{project.project_name}}</span>
                                                    </option>
                                                </ng-container>


                                            </select>
                                            <div *ngIf="projectName.invalid && (projectName.dirty || isSubmitted)"
                                                class="text-danger">
                                                <div class="error" *ngIf="projectName.errors.required">
                                                    Project Name is required.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Date mm/dd/yyyy -->
                                        <div class="col-md-8 form-group">
                                            <label>Task Description :</label>
                                            <textarea class="form-control" name="description"
                                                formControlName="description" placeholder="Description"></textarea>
                                            <!-- /.input group -->
                                            <div *ngIf="description.invalid && (description.dirty || isSubmitted)"
                                                class="text-danger">
                                                <div class="error" *ngIf="description.errors.required">
                                                    Description is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- /.form group -->
                                        <div class="col-md-4 form-group">
                                            <label>Tasked to :</label>
                                            <input type="text" placeholder="Employee Name" formControlName="first_name"
                                                name="first_name" class="form-control">
                                            <!-- /.input group -->
                                            <!-- <div *ngIf="employee_name.invalid && (employee_name.dirty || isSubmitted)"
                                                        class="text-danger">
                                                        <div class="error" *ngIf="employee_name.errors.required">
                                                            is required.</div>
    
                                                    </div> -->
                                        </div>
                                        <!-- /.form group -->
                                        <div class="col-md-4 form-group">
                                            <label>Assigned Date :</label>
                                            <input class="form-control" #dpYMD="bsDatepicker" bsDatepicker
                                                placeholder="YYYY-MM-DD" name="assigned_date"
                                                formControlName="assigned_date"
                                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue'  }">
                                            <div *ngIf="assigned_date.invalid && (assigned_date.dirty || isSubmitted)"
                                                class="text-danger">
                                                <div class="error" *ngIf="assigned_date.errors.required">
                                                    Date is required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Completion Date :</label>
                                            <input class="form-control" #dpYMD="bsDatepicker" bsDatepicker
                                                placeholder="YYYY-MM-DD" name="completion_date"
                                                formControlName="completion_date"
                                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue'  }">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label>Production Deployment Date</label>
                                            <input class="form-control" #dpYMD="bsDatepicker" bsDatepicker
                                                placeholder="YYYY-MM-DD" name="production_deployment_date"
                                                formControlName="production_deployment_date"
                                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue'  }">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Status :</label>
                                            <select class="form-control" formControlName="status" name="status">
                                                <option value=""> -- Select --</option>
                                                <option value="0"> Complete </option>
                                                <option value="1"> Pending </option>
                                                <option value="2"> Not Started </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-md-12">
                                            <button type="button" *ngIf="buttonStatus" (click)="addPendingTask()"
                                                class="btn btn-sm btn-success">
                                                <i class="fa fa-save"></i> &nbsp; Save </button> &nbsp;
                                            <button type="button" *ngIf="!buttonStatus" (click)="updateProject()"
                                                class="btn btn-sm btn-success">
                                                <i class="fa fa-pencil"></i> &nbsp; Update </button> &nbsp;
                                            <button type="button" class="btn btn-sm btn-danger" (click)="backToList()">
                                                <i class="fa fa-window-close-o"></i> Close</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
