<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">
                Headset Information
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <app-alert></app-alert>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <b>{{title | capitalize}}</b>
                <button *ngIf="inventoryListStatus && !inventoryViewStatus"
                    class="btn btn-warning btn-sm pull-right custom_btn_size" (click)="showAddForm()">
                    <i class="fa fa-plus"></i> Add</button>
                <button *ngIf="!inventoryListStatus || inventoryViewStatus"
                    class="btn btn-danger btn-sm pull-right custom_btn_size" (click)="backToList()">
                    <i class="fa fa-arrow-left"></i> Back</button>
            </div>
            <div class="panel-body">
                <div *ngIf="inventoryListStatus">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-text-width"></i>
                                    <h3 class="box-title">Details </h3>
                                    <a href="javascript:void(0)" class="btn btn-xs btn-sm pull-right btn-primary"
                                        (click)="showEditForm(project)">
                                        <i class="fa fa-pencil"></i>
                                    </a>&nbsp;
                                </div>
                                <!-- /.box-header -->
                                <h4 class="box-title">Headset Information</h4>
                                <div class="box-body">
                                  <dl class="dl-horizontal">
                                    <dt>HeadSet :</dt>
                                    <dd>
                                      Brand
                                    </dd>
                                    <br />
                                    <dt>Serial Number :</dt>
                                    <dd> No </dd>
                                    <br />
                                    <dt>Remarks : </dt>
                                    <dd> No</dd>
                                  </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!inventoryListStatus && !inventoryViewStatus">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="box box-danger">
                                <div class="box-header">
                                    <h3 class="box-title">Details</h3>
                                </div>
                                <div class="box-body">
                                    <form method="post" [formGroup]="inventoryForm" novalidate autocomplete="off">
                                        <div class="row">
                                            <div class="col-md-4 form-group">
                                                <label>HEAD SET :</label>
                                                <select class="form-control" formControlName="headset" name="headset">
                                                    <option value=""> -- Select --</option>
                                                    <option value="0"> Make </option>
                                                    <option value="1"> Brand </option>
                                                </select>
                                                <!-- /.input group -->

                                                <div *ngIf="headset.invalid && (headset.dirty || isSubmitted)"
                                                    class="text-danger">
                                                    <div class="error" *ngIf="headset.errors.required">
                                                        Head Set is required.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 form-group">
                                                <label>SERIAL NUMBER :</label>

                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-code"></i>
                                                    </div>
                                                    <input type="number" placeholder="Serial Number"
                                                        formControlName="serial_number" name="serial_number"
                                                        class="form-control">
                                                </div>
                                                <!-- /.input group -->
                                                <div *ngIf="serial_number.invalid && (serial_number.dirty || isSubmitted)"
                                                    class="text-danger">
                                                    <div class="error" *ngIf="serial_number.errors.required">Serial
                                                        Number is required.</div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 form-group">
                                                <label>REMARKS :</label>

                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-comments"></i>
                                                    </div>
                                                    <input type="text" placeholder="Remarks" formControlName="remarks"
                                                        name="remarks" class="form-control">
                                                </div>
                                                <!-- /.input group -->
                                            </div>

                                        </div>
                                        <!-- /.form group -->
                                        <div class="clearfix"></div>
                                        <div class="row text-center">
                                            <div class="col-md-12">
                                                <button type="button" *ngIf="buttonStatus" (click)="addUser()"
                                                    class="btn btn-sm btn-success">
                                                    <i class="fa fa-save"></i> &nbsp; Save </button>&nbsp;
                                                <button type="button" *ngIf="!buttonStatus" (click)="updateUser()"
                                                    class="btn btn-sm btn-success">
                                                    <i class="fa fa-pencil"></i> &nbsp; Update </button>&nbsp;
                                                <button class="btn btn-sm btn-danger" (click)="backToList()">
                                                    <i class="fa fa-window-close-o"></i> Close</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.box-body -->
                            </div>

                            <!-- /.box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->