/* .table-container {
  max-height: 600px;
  overflow: auto;
} */

.table-container::-webkit-scrollbar {
  display: none;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}
th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  border: 1px solid black;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.Filter {
  margin-bottom: 15px;
  width: 20%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th.mat-sort-header-sorted {
  color: black;
}
.Filter {
  margin-bottom: 15px;
  width: 20%;
}
.badge {
  padding: 5px 7px;
  font-weight: 500;
  border-radius: 5px;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
  border-bottom-width: 2px;
  background-color: #222d32;
  border-top: 0;
  width: 10px;
  color: white;
  font: message-box;
}

.table-bordered>thead>tr>th {
  vertical-align: middle;
}

.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border: 1px solid #f4f4f4;
  border-block-color: initial;
  background-color: white;
  border: 1px solid #090a0a94;
  width: 10px;
}



.fa-sort {
  padding-left: 3px;
}

