<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!-- <section class="content-header">
    <h1>

      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/dashboard']">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">
        Users
      </li>
    </ol>
  </section> -->

  <!-- Main content -->
  <section class="content">
    <app-alert></app-alert>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <!-- <b>{{title | capitalize}}</b>
        &nbsp;&nbsp;&nbsp;<input type="text" *ngIf="usersListStatus && !userViewStatus" placeholder="Search User"
          [(ngModel)]="term">
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -->
        <button *ngIf="usersListStatus && !userViewStatus" class="btn btn-danger btn-sm pull-center custom_btn_size"
          (click)="showInactiveEmployees()">
          <i class="fa fa-eye"></i> inactive employees</button>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        <button *ngIf="usersListStatus && !userViewStatus" class="btn btn-danger btn-sm pull-center custom_btn_size"
          (click)="showEmployeesWithZeroHours()">
          <i class="fa fa-eye"></i>Employees with zero Hours</button>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        <button *ngIf="usersListStatus && !userViewStatus" class="btn btn-danger btn-sm pull-center custom_btn_size"
          (click)="showPreviousUserReports()">
          <i class="fa fa-eye"></i> Previous Month Report</button>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        <button *ngIf="usersListStatus && !userViewStatus" class="btn btn-danger btn-sm pull-center custom_btn_size"
          (click)="showCurrentUserReports()">
          <i class="fa fa-eye"></i> Current Month Report</button>
        <button *ngIf="usersListStatus && !userViewStatus" id="clearFilter" style="margin-left: 30px;"
          (click)="clearZeroHoursFilter()">Clear filter </button>
        <button *ngIf="usersListStatus && !userViewStatus" class="btn btn-warning btn-sm pull-right custom_btn_size"
          (click)="showAddForm()">
          <i class="fa fa-plus"></i> Add</button>
        <button *ngIf="!usersListStatus || userViewStatus" class="btn btn-danger btn-sm pull-right custom_btn_size"
          (click)="backToList()">
          <i class="fa fa-arrow-left"></i> Back</button>
      </div>
      <div class="panel-body">
        <div *ngIf="usersListStatus && !userViewStatus" class="table-responsive">
          <div class="table-container">
            <table class="table  table-bordered" id="usersList">
              <thead>
                <tr>
                  <th rowspan="2" colspan="1" (click)="sorting1('user_id')">User ID <i class="fa fa-sort"></i></th>
                  <th rowspan="2" colspan="1" (click)="sorting1('first_name')">Name<i class="fa fa-sort"></i></th>
                  <!-- <th (click)="sorting1('email')">Email<i class="fa fa-sort" ></i></th> -->
                  <th rowspan="2" colspan="1" (click)="sorting1('role_name')">Role<i class="fa fa-sort"></i></th>
                  <th rowspan="2" colspan="1" (click)="sorting1('status')">Status<i class="fa fa-sort"></i></th>
                  <th rowspan="2" colspan="1" (click)="sorting1('Daily_Time_entry_required')">Daily Time Entry
                    Required<i class="fa fa-sort"></i></th>
                  <th rowspan="2" colspan="1">Actions</th>
                  <th rowspan="1" colspan="2">
                    Current Month
                  </th>
                  <th rowspan="1" colspan="2">
                    Previous Month
                  </th>
                </tr>
                <tr>
                  <th>Hours</th>
                  <th>Lag</th>
                  <th>Hours</th>
                  <th>Lag</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of  usersList | orderBy : key: reverse ;let i = index ">
                  <td>{{user.user_id}}</td>
                  <td>{{user.first_name | capitalize}}</td>
                  <!-- <td>{{user.email}}</td> -->
                  <td>
                    <span class="badge badge-success">{{user.role_name}}</span>
                  </td>
                  <td>
                    <ui-switch checkedLabel="ACTIVE" size="small"
                      (valueChange)=" openModal(template, user); onChange($event)"
                      [checked]="user.status == 1 ? true : false" uncheckedLabel="INACTIVE"></ui-switch>
                  </td>
                  <td>
                    <ui-switch checkedLabel="YES" size="small"
                      (valueChange)=" openModal1(template1, user); onChange1($event)"
                      [checked]="user.Daily_Time_entry_required == 1 ? true : false" uncheckedLabel="NO"></ui-switch>
                  </td>
                  <td>
                    <a href="javascript:void(0)" class="btn btn-xs btn-primary" (click)="showEditForm(user)">
                      <i class="fa fa-pencil"></i>
                    </a>&nbsp;
                    <a href="javascript:void(0)" class="btn btn-xs btn-success" (click)="showViewForm(user)">
                      <i class="fa fa-eye"></i>
                    </a>
                  </td>
                  <td>{{user.hours_current_month ? user.hours_current_month : ' - '}}</td>
                  <td>{{user.delay_current_month ? user.delay_current_month : ' - '}}</td>
                  <td>{{user.hours_last_month ? user.hours_last_month : ' - '}}</td>
                  <td>{{user.delay_days_last_month ? user.delay_days_last_month : ' - '}}</td>
                </tr>
                <tr *ngIf="!(usersList?.length>0)">
                  <td class="text-center" colspan="7"> No Users Found</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div *ngIf="userViewStatus">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-text-width"></i>

                  <h3 class="box-title">Description </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <dl class="dl-horizontal">
                    <dt>User ID : </dt>
                    <dd> YPA{{singleUser.user_id}}</dd>
                    <br />
                    <dt>Role : </dt>
                    <dd>
                      <span class="badge badge-success">{{singleUser.role_name}}</span>
                    </dd>
                    <br />
                    <dt>FIrst Name : </dt>
                    <dd> {{singleUser.first_name | capitalize}}</dd>
                    <br />
                    <dt>Last Name : </dt>
                    <dd> {{singleUser.last_name ? (singleUser.last_name | capitalize) : ' --- '}}</dd>
                    <br />
                    <dt>Phone Number : </dt>
                    <dd> {{singleUser.phone_number ? singleUser.phone_number : ' --- '}}</dd>
                    <br />
                    <dt>Email :</dt>
                    <dd> {{singleUser.email}}</dd>
                    <br />
                    <dt>Start Date :</dt>
                    <dd>{{singleUser.start_date | date: 'MM/dd/yy'}}</dd>
                    <br />
                    <dt>End Date :</dt>
                    <dd>{{singleUser.end_date ? (singleUser.end_date | date: 'MM/dd/yy') : ' --- '}}
                    </dd>
                    <br />
                  </dl>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="userReportflag && !usersListStatus && !userViewStatus" class="table-responsive">
          <h3 class="box-title">Time entry details of previous month&nbsp; &nbsp; &nbsp; &nbsp;

            <a href="javascript:void(0)" colspan="7" class="s-icon-btn s-export-to-excel-15px"
              title='Download excel report' (click)="exportdelaytable()">
              <i class="fa fa-download"></i>
            </a>
          </h3>
          <br>
          <div class="form-group">
            <strong>Current Employee Filter</strong> &nbsp; &nbsp;
            <select class="Filter" (change)="statusFilterChanged($event)">
              <option></option>
              <option value="1">Yes</option>
              <option value="0">No</option>
              <!-- <option value=any>Both</option> -->
            </select>
            <br>
            <button id="clearFilter" (click)="clearPreviousmonthFilter()">Clear filter </button>
          </div>
          <div class="table-container">
            <table class="table  table-bordered" id="userdetails">
              <thead>
                <tr>

                  <th (click)="sorting('first_name')">First Name<i class="fa fa-sort"></i></th>
                  <th (click)="sorting('last_name')">Last Name<i class="fa fa-sort"></i></th>
                  <th (click)="sorting('hours_last_month')">Total hours<i class="fa fa-sort"></i></th>
                  <th (click)="sorting('delay_days_last_month')">Total Delays<i class="fa fa-sort"></i></th>
                  <th (click)="sorting('last_time_entry_date_last_month')">Last Time Entry Date<i
                      class="fa fa-sort"></i></th>
                  <th>Current Employee</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of filteredPreviousUserlist | orderBy : key: reverse ;let i = index">
                  <!-- <td>{{i+1}}</td> -->
                  <td>{{user.first_name | capitalize}}</td>
                  <td>{{user.last_name | capitalize}}</td>
                  <td>{{user.hours_last_month ? user.hours_last_month : ' - '}}</td>
                  <td>{{user.delay_days_last_month ? user.delay_days_last_month : ' - '}}</td>
                  <td>{{user.last_time_entry_date_last_month ? user.last_time_entry_date_last_month : ' - '}}</td>
                  <td>{{user.status === 1 ? 'Yes' : 'No'}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

        <div *ngIf="userReportflag1 && !usersListStatus && !userViewStatus" class="table-responsive">
          <h3 class="box-title">Time entry details of current month&nbsp; &nbsp; &nbsp; &nbsp;
            <a href="javascript:void(0)" colspan="7" class="s-icon-btn s-export-to-excel-15px"
              title='Download excel report' (click)="exportdelaytable2()">
              <i class="fa fa-download"></i>
            </a>
          </h3>
          <br>
          <div class="form-group">
            <strong>Current Employee Filter</strong> &nbsp; &nbsp;
            <select class="Filter" (change)="statusFilterChanged1($event)">
              <option></option>
              <option value="1">Yes</option>
              <option value="0">No</option>
              <!-- <option value=any>Both</option> -->
            </select>

            &nbsp; &nbsp; &nbsp;

            <strong>Daily Time Entry Filter</strong> &nbsp; &nbsp;
            <select class="Filter" ng-model="customFilter" (change)="delayFilterChanged($event)">
              <option></option>
              <option value="1">Yes</option>
              <option value="0">No</option>
              <!-- <option value=any>Both</option> -->
            </select>
            <br>
            <button id="clearFilter" class="pure-button pure-button-primary" (click)="clearCurrentmonthFilter()">Clear
              filters </button>
          </div>
          <div class="table-container">
            <table class="table  table-bordered" id="userdetailscurrent">
              <thead>
                <tr>

                  <th (click)="sorting('first_name')">Employee Name<i class="fa fa-sort"></i></th>
                  <th (click)="sorting('hours_current_month')">Total hours<i class="fa fa-sort"></i></th>
                  <th (click)="sorting('delay_current_month')">Total Delays<i class="fa fa-sort"></i></th>
                  <th (click)="sorting('last_time_entry_date_current_month')">Last Time Entry Date<i
                      class="fa fa-sort"></i></th>
                  <th> Current employee</th>
                  <th> Daily Time entry Required</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of  filteredCurrentUserlist | orderBy : key: reverse ;let i = index">
                  <td>{{user.first_name | capitalize}}</td>
                  <td>{{user.hours_current_month ? user.hours_current_month : ' - '}}</td>
                  <td>{{user.delay_current_month ? user.delay_current_month : ' - '}}</td>
                  <td>{{user.last_time_entry_date_current_month ? user.last_time_entry_date_current_month : ' - '}}</td>
                  <td>{{user.status === 1 ? 'Yes' : 'No'}}</td>
                  <td>{{user.Daily_Time_entry_required === 1 ? 'Yes' : 'No' | capitalize}}</td>

                </tr>
                <!-- <tr *ngIf="!(projectsList?.length>0)">
                <td class="text-center" colspan="7"> No Users Found</td>
              </tr> -->
              </tbody>
            </table>
          </div>
        </div>

        <div *ngIf="!usersListStatus && !userViewStatus  && !userReportflag && !userReportflag1">
          <div class="row">
            <div class="col-md-12">

              <div class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title">Details</h3>
                </div>
                <div class="box-body">
                  <form method="post" [formGroup]="userForm" novalidate autocomplete="off">
                    <div class="row">
                      <!-- Date mm/dd/yyyy -->
                      <div class="col-md-4 form-group">
                        <label>Name :</label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                          </div>
                          <input type="text" class="form-control" formControlName="first_name" name="first_name"
                            placeholder="Name">
                        </div>
                        <!-- /.input group -->
                        <div *ngIf="firstName.invalid && (firstName.dirty || isSubmitted)" class="text-danger">
                          <div class="error" *ngIf="firstName.errors.required">
                            Firstname is required.
                          </div>
                        </div>
                      </div>
                      <!-- /.form group -->

                      <!-- phone mask -->
                      <div class="col-md-4 form-group">
                        <label>Email :</label>

                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                          </div>
                          <input type="text" placeholder="Email" formControlName="email" name="email"
                            class="form-control">
                        </div>
                        <!-- /.input group -->
                        <div *ngIf="email.invalid && (email.dirty || isSubmitted)" class="error">
                          <div *ngIf="email.errors.required">Email is required.</div>
                          <div *ngIf="email.errors.pattern && !email.errors.required">Invalid email(from pattern).</div>
                        </div>
                      </div>
                      <!-- /.form group -->

                      <!-- phone mask -->
                      <div class="col-md-4 form-group">
                        <label>Role :</label>
                        <select class="form-control" formControlName="role" name="role">
                          <option value=""> -- Select Role Type -- </option>
                          <ng-container *ngFor="let role of  rolesList;let i = index">
                            <option *ngIf="role.status==1" [value]="role.role_id">
                              <span>{{role.role_name}}</span>
                            </option>
                          </ng-container>
                        </select>
                        <div *ngIf="role.invalid && (role.dirty || isSubmitted)" class="text-danger">
                          <div class="error" *ngIf="role.errors.required">
                            Role is required.
                          </div>
                        </div>
                        <!-- /.input group -->
                      </div>
                      <!-- /.form group -->
                    </div>
                    <div class="row">
                      <!-- IP mask -->
                      <div class="col-md-4 form-group">
                        <label>Start Date:</label>
                        <input class="form-control" #dpYMD="bsDatepicker" bsDatepicker formControlName="start_date"
                          placeholder="YYYY-MM-DD"
                          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }">
                        <!-- /.input group -->
                        <div *ngIf="startDate.invalid && (startDate.dirty || isSubmitted)" class="text-danger">
                          <div class="error" *ngIf="startDate.errors.required">
                            Start Date is required.
                          </div>
                        </div>
                      </div>
                      <!-- /.form group -->

                      <!-- IP mask -->
                      <div class="col-md-4 form-group">
                        <label>End Date:</label>
                        <input class="form-control" #dpYMD="bsDatepicker" bsDatepicker formControlName="end_date"
                          placeholder="YYYY-MM-DD"
                          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }">
                        <!-- /.input group -->
                      </div>

                    </div>
                    <!-- /.form group -->
                    <div class="clearfix"></div>
                    <div class="row text-center">
                      <div class="col-md-12">
                        <button type="button" *ngIf="buttonStatus" (click)="addUser()" class="btn btn-sm btn-success">
                          <i class="fa fa-save"></i> &nbsp; Save </button>&nbsp;
                        <button type="button" *ngIf="!buttonStatus" (click)="updateUser()"
                          class="btn btn-sm btn-success">
                          <i class="fa fa-pencil"></i> &nbsp; Update </button>&nbsp;
                        <button type="button" class="btn btn-sm btn-danger" (click)="backToList()">
                          <i class="fa fa-window-close-o"></i> Close</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.box-body -->
              </div>

              <!-- /.box -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- /.content -->
</div>

<!-- <script>
  window.onscroll = function () { myFunction() };

  var header = document.getElementById("myHeader");
  var sticky = header.offsetTop;

  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
</script> -->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Status Confirmation Message</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="selectedUser">
    Are you sure you want to {{this.selectedUser.status == 1 ? 'Inactivate':'Activate'}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="confirm()">Confirm</button>
  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Daily time entry Confirmation Message</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefDailyTimeentry.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="selectedUser">
    Are you sure you want to change the status to '{{this.selectedUser.Daily_Time_entry_required == 1 ? 'No':'Yes'}}'
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closeTimeEntry()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="updateDailyTimeEntry()">Confirm</button>
  </div>
</ng-template>