.table-container {
  max-height: 3301px;
  overflow: auto-enabled;
  background-color: white;
}

.table-container::-webkit-scrollbar {
  display: none;
}
.container::-webkit-scrollbar {
  display: none;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
  float: left;
}

th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  border: 1px solid black;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.Filter {
  margin-bottom: 15px;
  width: 20%;
}

table {
  width: 100%;
  /* height: ; */
}

th.mat-sort-header-sorted {
  color: black;
}

.Filter {
  margin-bottom: 15px;
  width: 20%;
}

/* .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
      border-top: 0;
      width: 10px;
    }
  
    .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
      border: 1px solid #f4f4f4;
      width: 10px;
  } */

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
  background-color: #222d32;
  border-top: 0;
  width: 10px;
  color: white;
  font: message-box;
}

.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #f4f4f4;
  border-block-color: initial;
  background-color: white;
  border: 1px solid #090a0a94;
  width: 10px;
}

.floatLeft {
  width: 45%;
  float: left;
}
.floatRight {
  width: 45%;
  float: right;
  height: 40px;
}
.container {
  overflow: auto;
  height: 360px;
  background: white;
}
